db/
greybox_tmp/
incremental_db/
output_files/
simulation/
analysis/
captures/
screenshots/
roms/
dist/

*.zip
*.rom
*.bin
*.vvp
*.out
*.log
*.rbf
!releases/*.rbf
hc_output/
scaler/
hps_isw_handoff/
vip/
*_sim/
.qsys_edit/
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.jic
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*_netlist/
*.cdf
**/.DS_Store

